VITE_AUTH_API="http://localhost:8000/api"
VITE_BOOKING_API="http://localhost:8001/api"
VITE_PAYMENT_API="http://localhost:8002/api"
VITE_TRACKING_API="http://localhost:8003/api"
VITE_AI_API="http://localhost:8004/api"