VITE_AUTH_API="http://localhost:8000"
VITE_BOOKING_API="http://localhost:8001"
VITE_PAYMENT_API="http://localhost:8002"
VITE_TRACKING_API="http://localhost:8003"
VITE_AI_API="http://localhost:8004"

VITE_AUTH_IMAGE_URL="http://localhost:8001"